body {
    background-image: url("../imagenes/General/quien.jpg");	
}

div.card
{
	width: 500px;
	height: 500px;
	margin: 60px auto;
}

div.card div
{
	position: absolute;
	width: 500px;
	height: 500px;
	text-align: center;
	line-height: 600px;
	transition: all 1s ease;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

div.card div.back
{
	-webkit-transform: perspective(400px) rotateY(0deg);
	transform: perspective(400px) rotateY(0deg);
}

div.front
{
	-webkit-transform: perspective(400px) rotateY(-179.9deg);
	transform: perspective(400px) rotateY(-179.9deg);
}
div.front a
{
	border: 1px solid black;
	padding: 10px;
	color: black;
	font-size: 2em;
	text-decoration: none;
	cursor: pointer;
}

div.card:hover div.back
{
	-webkit-transform: perspective(400px) rotateY(179.9deg);
	transform: perspective(400px) rotateY(179.9deg);
}

div.card:hover div.front
{
	-webkit-transform: perspective(400px) rotateY(0deg);
	transform: perspective(400px) rotateY(0deg);
}

/*Para tablets*/
@media screen and (max-width: 800px) {
	div.card{width: 350px;height: 350px;}
	div.card div{width: 350px;height: 350px; line-height:350px;}
	img{width:350px; height: 350px;margin:0;}
}

/*Para moviles*/
@media screen and (max-width: 600px) {
	div.card{width: 250px;height: 250px;}
	div.card div{width: 250px;height: 250px; line-height:250px;}
	img{width:250px; height: 250px;margin:0;}
}